body {
    max-width: 800px;
    background-color: #FEFDEC;
    margin: 0 30px;
    padding: 150px 480px;
    transform: translate(40px, 0);
}

#content {
    border: 5px dotted #be8b67;
    padding: 80px;
    
}

.croissant-photos {
    width: 150px;
}

a {
    text-decoration: none;
    color: #be8b67;
    transition: 200ms all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 15px;

}

a:hover {
    padding: 5px;
    cursor: pointer;
    text-decoration: wavy underline;
    color: #a0551f;
}

h1 {
    font-family: "Playfair Display", serif;
    color: #a0551f;
    transform: translate(20px, 0);
}

p {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   transform: translate(20px, -50px);
}

.croissant-contact {
    width: 150px;
}

.more-info {
    transform: translate(18px, 0);
}

em {
    color: #a0551f;
}

.croissant-pic {
    width: 400px;
    transform: translate(150px, 0);
}